<div class="row">
    <div class="container hide-on-small-only carousel_box">
        <div class="carousel carousel-slider center-align " data-indicators="true">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect  blue darken-1 white-text">More</a>
         </div>
        <a class="carousel-item" href="#one!"><img src="{% static 'img/gorilla.jpg' %}"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'img/gorilla.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img src="{% static 'img/gorilla.jpg' %}"></a>
        <a class="carousel-item" href="#four!"><img src="{% static 'img/gorilla.jpg' %}"></a>
      </div>
    </div>
</div>