{% load staticfiles %}
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="{% static  'slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"/>


