{% load static %}
<ul id="dropdown-worship" class="dropdown-content indigo darken-4">
        <li><a href="#!" class="white-text">Services</a></li>
        <li><a href="#!" class="white-text">Sermons</a></li>
        <li><a href="#!" class="white-text">Fellowship</a></li>
        <li><a href="#!" class="white-text">Music</a></li>
    </ul>
    <ul id="dropdown-people" class="dropdown-content indigo darken-4">
        <li><a href="#!" class="white-text">Staff</a></li>
        <li><a href="#!" class="white-text">Musicians</a></li>
        <li><a href="#!" class="white-text">Members</a></li>
        <li><a href="#!" class="white-text">Connections</a></li>
    </ul>
    <ul id="dropdown-mission" class="dropdown-content indigo darken-4">
        <li><a href="#!" class="white-text">Message</a></li>
        <li><a href="#!" class="white-text">Vision</a></li>
        <li><a href="#!" class="white-text">World</a></li>
        <li><a href="#!" class="white-text">Partnerships</a></li>
    </ul>
    <ul id="dropdown-history" class="dropdown-content indigo darken-4">
        <li><a href="#!" class="white-text">Building</a></li>
        <li><a href="#!" class="white-text">Church</a></li>
        <li><a href="#!" class="white-text">Museum</a></li>
        <li><a href="#!" class="white-text">Records</a></li>
    </ul>
    <ul id="dropdown-events" class="dropdown-content indigo darken-4">
        <li><a href="#!" class="white-text">Service Schedule</a></li>
        <li><a href="#!" class="white-text">Weddings</a></li>
        <li><a href="#!" class="white-text">Mainly Music</a></li>
        <li><a href="#!" class="white-text">English Classes</a></li>
    </ul>
    <div class="navbar-fixed" style="margin-left: 238px;">
        <nav class="container">
        <div class="nav-wrapper indigo darken-4">
              <ul class="left hide-on-med-and-down">
                  <li><a href="">Home</a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown-worship">Worship</a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown-people">People</a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown-mission">Mission</a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown-history">History</a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown-history">Events</a></li>
                  <li><a href="">Contact</a></li>
                  <li><a href="/gallery">Gallery</a></li>
              </ul>
        </div>
        </nav>
    </div>

