{% load staticfiles %}
{% include 'base.html' %}
{% include 'navbar2.html'  %}
{% block content %}
<style>
    {%block style%}
        .carousel-container{
            max-width: 600px;
            max-height: 600px;
        }
    {% endblock %}
</style>
<div class="carousel-container">
    <div id="slider" class="flexslider">
      <ul class="slides">
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_lemon.jpg' %}" />
            </li>
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_donut.jpg' %}" />
            </li>
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_caramel.jpg' %}" />
            </li>
      </ul>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_lemon.jpg' %}" />
            </li>
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_donut.jpg' %}" />
            </li>
            <li>
              <img src="{% static 'flex2/images/kitchen_adventurer_caramel.jpg' %}" />
            </li>
      </ul>
    </div>
</div>
{% endblock%}
{% include 'footer.html' %}
<script>
    {% block jquery%}
    $(document).ready(function(){
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider'
          });
      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel"
      });
    });
    {% endblock %}
</script>
