{% load staticfiles %}
<style>
    .flex-caption {
        width: 96%;
        padding: 2%;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        font-size: 14px;
        line-height: 18px;
}
</style>
<div class="flexslider">
  <ul class="slides">
            <li>
                <img src="{% static 'flex2/images/kitchen_adventurer_lemon.jpg' %}" />
                <p class="flex-caption">Adventurer Cheesecake Brownie</p>
            </li>
            <li>
                <img src="{% static 'flex2/images/kitchen_adventurer_donut.jpg' %}" />
                <p class="flex-caption">Adventurer Cheesecake Brownie</p>
            </li>
            <li>
                <img src="{% static 'flex2/images/kitchen_adventurer_caramel.jpg' %}" />
                <p class="flex-caption">Adventurer Cheesecake Brownie</p>
            </li>
            <li>
                <img src="{% static 'flex2/images/kitchen_adventurer_donut.jpg' %}" />
                <p class="flex-caption">Adventurer Cheesecake Brownie</p>
            </li>
            <li>
                <img src="{% static 'flex2/images/kitchen_adventurer_caramel.jpg' %}" />
                <p class="flex-caption">Adventurer Cheesecake Brownie</p>
            </li>
  </ul>
</div>
<script>
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
</script>