.carousel_box{
    margin-top: -90px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.box-container{
    margin-top: 110px;
    background-color:#5c6bc0;
    padding: 6px;
    border-radius: 3%;
    text-align: center;
}
.box-content{
    color:white;
    border: 1px #2f3c8d solid ;
    background-color:#2f3c8d;
    border-top-left-radius:19px;
    border-top-right-radius:19px;
}
.box-header-text{
    border-top-left-radius:19px;
    border-top-right-radius:19px;
    background-color:#212b64;
    margin:-1px;
}
